h1 {
    font-family: 'comic sans';
    font-weight: bold;
}

h2.green {
    color: green;
}

h2.blue {
    color: blue;
}

h2.purple {
    color: purple;
}

h2.red {
    color: red;
}

p>img {
    float: left;
}
