ul li {
    float: left;
    display: block;
    background-color: #9A5827;
    width: 100px;
    text-align: center;
    ;
    font-size: 16px;
    line-height: 50px;
}

ul {
    width: 100%;
}

ul li a {
    color: #f9f59a;
    text-decoration: none;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}
