section {
    position: fixed;
    top: 0;
    background-color: #9A5927;
    width: 100%;
    height: 50px;
    display: block;
}

ul li {
    float: left;
    display: block;
    background-color: #9A5827;
    width: 100px;
    text-align: center;
    ;
    font-size: 16px;
    line-height: 50px;
}

ul {
    width: 100%;
}

ul li a {
    color: #f9f59a;
    text-decoration: none;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: block;
}
ul li:hover{
    background-color: #ba7947; 
    color: #f9f59a; 
}
ul li ul li{
background-color: #f9f59a; 
color: #9A5827;
}
ul li ul li:hover a{
    color: #9A5927;
}
h2{
    text-align: center;
    color: #ba7947; 
    font-size: 32px;
    line-height: 1.6em;
    font-weight: 700;
}

img{
    display: block;
    margin: auto;
}
h4{
    line-height: 1.4em;
    font-size:22px;
    font-weight: 400;
}

p{
    line-height: 1.6em;
}

div.tri{
    float: left;
    margin: 30px;
    text-align: center;
    width: 28%;
    background-color: #f9f59a;
}